body {
  font: 14px "Century Gothic", Futura, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  background-color: lightseagreen;
}
.main-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  color: olive;
  font-size: 10px;
  margin: 10vh;
}
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameCell {
  background: cornsilk;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  color: orchid
}
.gameCell:hover {
  background: pink;
  cursor: pointer;
}
.winLine {
  color: orangered;
  font-size: 35px;
}
.board-row {
  clear: both;
  content: "";
  display: table;
}
.btn-win {
  background: grey;
}
.btn-mainMenu {
  background: darkorange;
  color: snow;
  font-size: 15px;
  border-radius: 5px;
  border-color: lightblue;
  margin: 1vh;
  overflow: hidden;
}
.btn-mode {
  background: darkorange;
  margin: 1em;
  width: 20vh;
  border-radius: 5px;
  border-color: lightblue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: snow;
  font-size: 15px;
  text-align: center;
}
.btn-restart {
  margin-left: 10px;
  font-size: 15px;
  background: darkorange;
  color: snow;
}
.log-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 18px "Century Gothic", Futura, sans-serif;
  color: snow;
}

.start-game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  width: 300px;
  background: pink;
}
span {
  color: firebrick;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
  .gameCell {
    width: 70px;
    height: 70px;
  }
}
